// Container
.section-divider {
    position: relative;
    z-index: 2;
}

// Modifica o padding top da seção logo abaixo do SVG do Slide/Apresentação
.sec-bottom-divider {
    padding-top: 20px;
}

// Divisor
.section-divider-inner {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    transform: translateY(-100%);
}

// SVG
.section-divider svg {
    width: 100%;
    height: 101%;
}

// Inverte a posição horizontal
.section-divider.sd-flip-h {
    transform: scale(-1, 1);
}

// Inverte a posição vertical
.section-divider.sd-flip-v {
    transform: scale(1, -1);
}

// Inverte a posição horizontal e vertical
.section-divider.sd-flip-hv {
    transform: scale(-1, -1);
}

// ------------------------------------
// Variações de cores
// ------------------------------------
.section-divider.sd-primary svg {
    path,
    circle,
    ellipse,
    rect,
    polygon {
        fill: $grey-color;
    }
}

.section-divider.sd-white svg {
    path,
    circle,
    ellipse,
    rect,
    polygon {
        fill: #fff;
    }
}

.section-divider.sd-grey svg {
    path,
    circle,
    ellipse,
    rect,
    polygon {
        fill: #f1f3f4;
    }
}

// ------------------------------------
// Modelo 2
// ------------------------------------
.sd-m2 {
    .section-divider-inner {
        height: 60px;
    }

    // Camada 1
    path:nth-child(3) {
        opacity: 1;
    }

    // Camada 2
    path:nth-child(2) {
        opacity: 0.6;
    }

    // Camada 1
    path:nth-child(1) {
        opacity: 0.3;
    }
}

// ------------------------------------
// Modelo 4 e 5
// ------------------------------------
.sd-m4,
.sd-m5 {
    .section-divider-inner {
        height: 100px;

        // Tablet

        // Mobile
    }
}

// ------------------------------------
// Modelo 6
// ------------------------------------
.sd-m6 {
    .section-divider-inner {
        height: 120px;

    }

    svg {
        width: 50%;
        height: 100%;
    }

    // Camada 1
    svg:nth-child(2) {
        float: left;
    }

    // Camada 2
    svg:nth-child(1) {
        float: right;
    }
}



// ------------------------------------
// Modelo 11
// ------------------------------------
.sd-m11 {
    .section-divider-inner {
        height: 100px;
        // Mobile
    }

    // Camada 1
    polygon:nth-child(1) {
        opacity: 1;
    }

    // Camada 2
    polygon:nth-child(3) {
        opacity: 1;
    }

    // Camada 3
    polygon:nth-child(2) {
        opacity: 0.1;
        fill: #fff !important;
    }
}

// ------------------------------------
// Modelo 19
// ------------------------------------
.sd-m19 {
    .section-divider-inner {
        height: 60px;
    }
}

// teste

