@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    transition: all 0.3 ease;
    -webkit-tap-highlight-color: transparent;
}

:focus {
    outline: none !important;
}


b {
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// Margin top

.mt-1 {
    margin-top: 1.5rem;
}

// Margin bottom

.mb-1 {
    margin-bottom: 1rem;
}

// Seções
.secao {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    // MOBILE
    // @include tablet-screen {
    //     padding-top: 30px;
    //     padding-bottom: 30px;
    // }

    &.grey {
        background: $grey-color;
    }
}

//  Adicione uma película meio preta por cima das imagens 
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 55%);
    // z-index: -1;
}

// Barra scroll

/* Chrome, Safari e Opera */
::-webkit-scrollbar {
    width: 10px;
    background-color: #eee;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $primary-color;
  }
  
  /* Firefox */
  ::-moz-scrollbar {
    width: 10px;
    background-color: #eee;
  }
  
  ::-moz-scrollbar-thumb {
    background-color: $primary-color;
  }
  
  /* Edge e IE */
  ::-ms-scrollbar {
    width: 10px;
    background-color: #eee;
  }
  
  ::-ms-scrollbar-thumb {
    background-color: $primary-color;
  }