// Cores
$primary-color: #ff0101;
$secondary-color: #0000CD;

// Cores textos
$grey-color: #eee;

// Tamanhos
$max-width: 1280px;
$padding-main: 1rem 1.5rem;

// Textos
$font-size-small: 18px;
$font-size-medium: 25px;
$font-size-large: 30px;
$font-size-base: 15px;

// Alinha Tudo
$margin-align-center: 0 auto;