// /---- Banner ----\
.sobreNos-banner {
    background: url(../img/portfolio/banner.jpeg);
    padding: 80px 0;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.banner-container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-container h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    // margin-left: 20px;
    position: relative;
}

.page-title-link-sobreNos {
    display: flex;
}

.page-title-link-sobreNos li {
    display: inline-block;
    position: relative;
}

.page-title-link-sobreNos li::after {
    background: $primary-color;
    bottom: 8px;
    content: "";
    height: 2px;
    margin-left: -4px;
    position: absolute;
    width: 10px;
}

.page-title-link-sobreNos li:last-child::after {
    content: "";
    width: 0;
    height: 0;
}

.page-title-link-sobreNos li a {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.page-title-link-sobreNos li a:hover {
    color: $primary-color;
    transition: all .3s ease-in-out;
}

// /---- /Banner ----\


// /---- Sobre ----\

.sobreNos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include container;

    @include tablet-screen {
        justify-content: center;
        flex-direction: column-reverse;
    }
}

.sobreNos-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 283px;
    background-color: #fff;
    padding: 45px 25px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
    position: relative;
    margin-left: -45px;
    border-radius: 5px;

    @include tablet-screen {
        align-items: center;
        text-align: center;
        margin-left: 0;
        padding: 0 0 45px 0;
        box-shadow: none;
    }
}

.sobreNos-img {
    max-width: 550px;
    position: relative;
    // padding-top: 40px;


    @include tablet-screen {
        max-width: 100%;
    }
}

.sobreNos-img img {
    width: 100%;
    border-radius: 5px;
}

// /---- ./Sobre ----\


// /---- sobre-info ----\

.sobre-info-container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    background: $primary-color;
    padding: 40px 60px;
    color: #fff;
    border-radius: 10px;
    position: relative;
    transition: all .3s ease-out 0s;
    overflow: hidden;
    flex: 1 300px;
}

.info-card:hover {
    transform: translateY(-5px);
    transition: all .3s ease-out 0s;
}

.icon-info {
    position: absolute;
    font-size: 110px;
    color: #fff;
    transition: all .3s ease-out 0s;
    z-index: -1;
    visibility: visible;
    opacity: 0.4;
    right: -25px;
    bottom: -30px;
    z-index: 2;
}

.info-card h3 {
    padding-bottom: 15px;
}

// /---- ./sobre-info ----\
