/* Inicio Navbar*/

.header {
    background-color: #fff;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
    @include container;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.header .logo a img {
    max-width: 155px;
}

.nav-menu-img img {
    max-width: 100px;
}

// .menu {
//     display: flex;
//     align-items: center;
//     gap: 30px;
//     list-style: none;
//     position: relative;
// }

.header .menu>.menu-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    vertical-align: middle;
}

.header .menu>.menu-item>a {
    text-decoration: none;
    display: block;
    padding: 12px 0;
    font-size: 16px;
    color: #161825;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.header .menu>.menu-item li a {
    text-decoration: none;
}

.header .menu>.menu-item>a .plus {
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 5px;
    pointer-events: none;
}

.header .menu>.menu-item>a .plus:before,
.header .menu>.menu-item>a .plus:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    background-color: #161825;
    height: 2px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.header .menu>.menu-item:hover>a .plus:before,
.header .menu>.menu-item:hover>a .plus:after {
    background-color: $primary-color;
}

.header .menu>.menu-item>a .plus:after {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.header .menu>.menu-item>.sub-menu>.menu-item>a:hover,
.header .menu>.menu-item:hover>a {
    color: $primary-color;
}

.header .menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    border-top: 3px solid $primary-color;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

@media(min-width: 992px) {
    .menu {
        display: flex;
        align-items: center;
    }

    .header .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .header .menu>.menu-item-has-children:hover>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.header .menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #161825;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.header .open-nav-menu i {
    // height: 50px;
    // width: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.header .open-nav-menu i {
    // display: block;
    // height: 3px;
    // width: 24px;
    // background-color: #161825;
    position: relative;
}

// .header .open-nav-menu span:before,
// .header .open-nav-menu span:after {
//     content: '';
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: #161825;
//     box-sizing: border-box;
// }

// .header .open-nav-menu span:before {
//     top: -7px;
// }

// .header .open-nav-menu span:after {
//     top: 7px;
// }

.header .close-nav-menu {
    color: #fff;
    font-size: 30px;
    margin: 15px 15px;
    display: none;
    align-items: center;
    justify-content: end;
}

.header .close-nav-menu i:hover {
    cursor: pointer;
    color: $primary-color;
}

.header .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-btns {
    display: flex;
    justify-content: center;
    margin: $margin-align-center;
}

@media only screen and (min-width: 920px) {
    .nav-btns {
        max-width: 170px;
        margin: $margin-align-center;
    }
}

/* responsive */

@media(max-width: 920px) {
    .header .logo {
        margin: $margin-align-center;
    }

    .header .logo a img {
        max-width: 130px;
    }

    .header .menu-overlay.active {
        visibility: visible;
        opacity: 1;
    }

    .menu {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .header .nav-menu {
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        background-image: linear-gradient(130deg,
                hsl(0deg 93% 12%) 13%,
                hsl(0deg 100% 11%) 43%,
                hsl(0deg 100% 11%) 49%,
                hsl(0deg 100% 10%) 50%,
                hsl(0deg 100% 10%) 50%,
                hsl(0deg 100% 10%) 50%,
                hsl(0deg 100% 9%) 50%,
                hsl(0deg 100% 9%) 51%,
                hsl(0deg 100% 9%) 57%,
                hsl(0deg 0% 0%) 87%);
        z-index: 1000;
        padding: 15px 0;
        transition: all 0.5s ease;
    }

    .header .nav-menu.open {
        visibility: visible;
        right: 0px;
    }

    .menu-item a {
        text-decoration: none;
    }

    .header .menu>.menu-item {
        display: block;
        margin: 0;
    }

    .header .menu>.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .menu>.menu-item>a {
        color: #ffffff;
        padding: 12px 15px;
        font-weight: bold;
        // border-bottom: 1px solid #333333;
    }

    .header .menu>.menu-item>a .plus:before,
    .header .menu>.menu-item>a .plus:after {
        background-color: #ffffff;
    }

    .header .menu>.menu-item-has-children.active>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .header .menu>.menu-item>.sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }

    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        padding: 12px 45px;
        color: #ffffff;
        // border-bottom: 1px solid #333333;
    }

    .header .close-nav-menu,
    .header .open-nav-menu i {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}