.header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    transition: top 0.3s ease;
    // Adicionando uma transição suave para a propriedade top 
}

.fixed-menu .nav {
    position: fixed;
    visibility: hidden;
    left: 0;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 0;
    background: #ffffff;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    -ms-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -op-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -op-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

//=============== REUSABLE CSS CLASSES ===============
.container-header {
    @include container;
}

//=============== NAV ===============
.logo img {
    max-width: 155px;
}

.nav-logo,
.nav-burger,
.nav-close {
    color: hsl(220, 24%, 12%);
}

.nav-data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: 600;
}

.nav-logo i {
    font-weight: initial;
    font-size: 1.25rem;
}

.nav-toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav-burger,
.nav-close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.5rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav-close {
    opacity: 0;
}

// Menu Mobile 
@media screen and (max-width: 920px) {
    .logo {
        margin: 0 auto;
    }

    .logo img {
        max-width: 100px;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        // top: 3.5rem;
        width: 280px;
        height: 100vh;
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: right .4s, opacity .3s;
    }

    .nav-menu::-webkit-scrollbar {
        width: 0;
    }

    .nav-list {
        background-color: #fff;
        position: fixed;
        width: 280px;
        height: 100%;
        padding-top: 15px;
    }

    .btn-ocarmento {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        padding: 0 1.5rem;
    }

    .btn-ocarmento a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    // Overlay 
    #overlay-menu {
        position: fixed;
        z-index: 15;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
    }
}

@media screen and (max-width: 280px) {
    .nav-menu {
        width: 100%;
    }

    .nav-list {
        width: 100%;
    }
}

.nav-link {
    color: hsl(220, 24%, 12%);
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

// .nav-link:hover {
//     background-color: hsl(220, 24%, 12%);
// }

// Abrir menu 
.show-menu {
    opacity: 1;
    top: 85px;
    right: 0;
    pointer-events: initial;
    overflow: hidden;
}

// Show icon 
.show-icon .nav-burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav-close {
    opacity: 1;
    transform: rotate(90deg);
}

//=============== DROPDOWN ===============
.dropdown-item {
    cursor: pointer;
}

// Desabilitando quando apertar no dropdown 
.nav-link.disable,
.btn.disable {
    display: none;
}


.dropdown-arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown-link {
    padding: 1.25rem;
    color: hsl(220, 24%, 12%);
    display: flex;
    background-color: #fff;
    align-items: center;
    column-gap: .5rem;
    font-weight: 600;
    transition: background-color .3s;
}

.dropdown-link i {
    font-size: 1.25rem;
    font-weight: initial;
}

.services-link {
    display: block;
    padding: 1.25rem;
    color: hsl(220, 24%, 12%);
    display: flex;
    background-color: #fff;
    align-items: center;
    // justify-content: space-between;
    column-gap: .5rem;
    font-weight: 600;
    transition: background-color .3s;
}

// .services-link:hover,
// .dropdown-link:hover {
//     background-color: hsl(220, 24%, 12%);
// }

.dropdown-menu {
    top: 0;
    right: -280px;
    position: absolute;
    width: 280px;
    overflow: hidden;
    transition: right .4s, opacity .3s;
}

// Ativando quando apertar no dropdown 
.dropdown-menu.active {
    display: block;
    width: 100%;
    opacity: 1;
    outline: none;
    right: 0;
    top: 0;
    transition: right .4s, opacity .3s;
}

.back-button {
    background: none;
    color: hsl(220, 24%, 12%);
    border: 0;
    padding: 1.25rem;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #58585b;
    cursor: pointer;
}

// .back-button:hover {
//     background-color: hsl(220, 24%, 12%);
// }

// Show dropdown menu 
@media (min-width: 920px) {
    .dropdown-item:hover .dropdown-menu {
        display: block;
        transition: max-height .4s ease-in;
    }

    // Rotate dropdown icon 
    .dropdown-item:hover .dropdown-arrow {
        transform: rotate(90deg);
    }

    .back-button {
        display: none;
    }
}

//=============== BREAKPOINTS ===============
// For small devices 
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav-link {
        padding-inline: 1rem;
    }
}

// For large devices 
@media screen and (min-width: 920px) {
    .container {
        margin-inline: auto;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
        // height: calc(3.5rem + 2rem);
    }

    .nav-toggle {
        display: none;
    }

    .nav-list {
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 3rem;
    }

    .nav-link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav-link:hover {
        background-color: transparent;
    }

    .dropdown-item {
        position: relative;
        height: 100%;
    }

    .dropdown-menu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        width: 220px;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown-link {
        padding-inline: 1rem 3.5rem;
    }

    .services-link {
        display: none;
    }

    // Show dropdown menu 
    .dropdown-item:hover .dropdown-menu {
        opacity: 1;
        top: 75px;
        pointer-events: initial;
        transition: top .3s;
    }

}