// /---- Slider ----\
.swiper-container {
    height: 75vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.swiper-slide {
    height: 67vh;
    position: relative;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

//  Adicione uma película meio preta por cima das imagens 
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 75%);
}

.slide-text {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: $padding-main;

    @include tablet-screen {
        justify-content: center;
        text-align: center;
    }
}

.slider-text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    max-width: 750px;
}

.titulo-slide {
    position: relative;
    font-size: 45px;
    line-height: 1.2;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: none;

    @include tablet-screen {
        text-align: center;
    }

    @include mobile-screen {
        font-size: $font-size-medium;
    }

    &.left {
        text-align: left;

        @include tablet-screen {
            text-align: center;
        }
    }
}

.slider-text-content p {
    font-size: 1.2rem;
    color: #fff;

    // @include mobile-gf {
    //     font-size: 1rem;
    // }
}


.swiper-pagination {
    position: absolute;
    bottom: 10px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
}

// /---- ./Slider ----\


// /---- Sobre ----\


.sobre-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include container;

    @include tablet-screen {
        justify-content: center;
        flex-direction: column-reverse;
    }
}

.sobre-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 283px;
    background-color: #fff;
    padding: 45px 25px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
    position: relative;
    margin-left: -45px;
    border-radius: 5px;

    @include tablet-screen {
        align-items: center;
        text-align: center;
        margin-left: 0;
        padding: 0 0 45px 0;
        box-shadow: none;
    }
}

.sobre-img {
    max-width: 550px;
    position: relative;
    // padding-top: 40px;


    @include tablet-screen {
        max-width: 100%;
    }
}

// .sobre-img::after {
//     content: "";
//     position: absolute;
//     bottom: -10px;
//     left: -10px;
//     border: 3px solid $primary-color;
//     width: 50%;
//     height: 50%;
//     z-index: -1;
//     border-radius: 1px;
// }

.sobre-img img {
    width: 100%;
    border-radius: 5px;
}

// /---- ./Sobre ----\


// /---- Caracteristicas ----\

.features {
    padding: 40px 0;
    background-image: url(../img/vecteezy_black-and-white-background-gray-abstract-background-used_11574597.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
}

.features-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    @include container;
    gap: 30px;
    text-align: center;
    /* Centraliza o texto dentro dos elementos .ft */
}

.ft {
    flex: 0 0 auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* Centraliza o texto dentro dos elementos .ft */
}

.ft i {
    font-size: 30px;
}

.ft strong {
    font-size: $font-size-medium;
    color: #fff;
    margin-top: 10px;
}

.ft span {
    font-size: $font-size-small;
    color: $grey-color;
}

// /---- ./Caracteristicas ----\


// /---- Serviços ----\

.servicos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include container;
}


// Cards
.card-servico {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-link {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.card-container {
    margin-top: 1.5rem;
    max-width: 100%;

    @include card-500 {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

.card-content {
    background: #fff;
    padding: 1.5rem;
    flex: 0 0 auto;
    max-width: 386px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    border-radius: 5px;
}


.card-img {
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-radius: 5px;

}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

.card-content .img-fluid {
    transition: .5s;
}

.card-content:hover .img-fluid {
    transform: scale(1.1);
}

.card-content:hover .btn-2 i {
    transform: translateX(5px);
    color: $primary-color;
    border-color: $primary-color;
}

.card-container h4 {
    font-size: calc(1.275rem + .3vw);
}


// /---- /Serviços ----\


// /---- Trabalhos ----\
.work-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @include container;
}


// Galeria
.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.gallery {
    flex: 1 300px;
}

.gallery img {
    width: 100%;
}

/* Adicione isso ao seu arquivo "style.css" */

.lightbox-link {
    position: relative;
    display: inline-block;
}

.overlay-gallery {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.5);
    /* Cor do overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.overlay-gallery i {
    font-size: 3rem;
    color: white;
    /* Cor do ícone de lupa */
}

.lightbox-link:hover .overlay-gallery {
    opacity: 1;
}


// /---- ./Trabalhos ----\


// /---- Contato-seção ----\
.home-contact {
    background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.home-contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @include container;
    gap: 20px;
}

@media (max-width: 700px) {
    .home-contact-container {
        justify-content: center;
    }

    .home-contact-info h1,
    .home-contact-info p {
        text-align: center !important;
    }

    .btn-home-contact {
        margin-top: 5px;
    }
}

.home-contact-container h1 {
    color: #fff;
}

.home-contact-info {
    z-index: 2;
    flex: 1 400px;
}

.home-contact-info p {
    font-size: 20px;
}

.home-contact-info h1,
.home-contact-info p {
    color: #fff;
    text-align: left;
}



// /---- ./Contato-seção ----\